In [1]:
import pandas as pd
import numpy as np

# 读取数据

In [3]:
df=pd.read_excel(r'C:\Users\shaoyumei\Desktop\产品成本还原（面试）.xlsx')
df.head()

  订单号  订单行号 产品编码   规格型号 基本单位 产品批号 成本项目名称       本期成本  数量          金额
0  D1     1   A1  0.2ml    件   Z1    NaN  49.214000   5  246.070000
1  D1     1   A1  0.2ml    件   Z1   直接材料  39.097202   5  195.486009
2  D1     1   A1  0.2ml    件   Z1   间接材料   1.495123   5    7.475615
3  D1     1   A1  0.2ml    件   Z1   间接材料        NaN   5         NaN
4  D1     1   A1  0.2ml    件   Z1   直接人工   3.203641   5   16.018206

# 筛选出直接材料

In [5]:
df_zc=df.query('成本项目名称=="直接材料"')
df_zc

   订单号  订单行号 产品编码   规格型号 基本单位 产品批号 成本项目名称       本期成本  数量           金额
1   D1     1   A1  0.2ml    件   Z1   直接材料  39.097202   5   195.486009
9   D2     1   A1  0.2ml    件   Z2   直接材料  39.104366   2    78.208731
17  D3     1   A2  0.5ml    件   A3   直接材料  53.254482  15   798.817235
25  D4     1   A2  0.5ml    件   Z4   直接材料  53.260687   4   213.042746
33  D5     1   A3    1ml    件   Z5   直接材料  72.517826  10   725.178264
40  D6     4   A4    1ml    件   Z6   直接材料  72.237387  20  1444.747745

# 第一题：求直接材料的合计值

In [6]:
s1=df_zc.groupby('产品编码')['金额'].sum()
df1=pd.DataFrame({"直接材料合计":s1})
df1

           直接材料合计
产品编码
A1     273.694740
A2    1011.859981
A3     725.178264
A4    1444.747745

# 第二题：按产品编码 分组计算直接材料的平均单价

In [7]:
s2=df_zc.groupby('产品编码')['本期成本'].mean()
df2=pd.DataFrame({"直接材料平均单价":s2})
df2

       直接材料平均单价
产品编码
A1    39.100784
A2    53.257585
A3    72.517826
A4    72.237387

# 筛选出间接材料

In [8]:
df_jc=df.query('成本项目名称=="间接材料"').dropna()
df_jc

   订单号  订单行号 产品编码   规格型号 基本单位 产品批号 成本项目名称      本期成本   数量          金额
2   D1     1   A1  0.2ml    件   Z1   间接材料  1.495123    5    7.475615
10  D2     1   A1  0.2ml    件   Z2   间接材料  1.484076    2    2.968152
18  D3     1   A2  0.5ml    件   A3   间接材料  1.558012   15   23.370173
26  D4     1   A2  0.5ml    件   Z4   间接材料  1.536531    4    6.146123
34  D5     1   A3    1ml    件   Z5   间接材料  1.536353   10   15.363534
41  D6     4   A4    1ml    件   Z6   间接材料  0.834262   20   16.685239
47  D7     1   A4    1ml    件   Z6   间接材料  0.840164  150  126.024664

# 第二题：按产品编码 分组计算间接材料的平均单价

In [9]:
s3=df_jc.groupby('产品编码')['本期成本'].mean()
df3=pd.DataFrame({"间接材料平均单价":s3})
df3

      间接材料平均单价
产品编码
A1    1.489599
A2    1.547271
A3    1.536353
A4    0.837213

# 汇总结果并输出到Excel

In [10]:
df_result=pd.concat([df1,df2,df3],axis=1)
df_result.loc['合计']=df_result.apply(lambda x:x.sum())
df_result=df_result.round(decimals=2)
df_result

       直接材料合计  直接材料平均单价  间接材料平均单价
产品编码
A1     273.69     39.10      1.49
A2    1011.86     53.26      1.55
A3     725.18     72.52      1.54
A4    1444.75     72.24      0.84
合计    3455.48    237.11      5.41

In [55]:
df_result.to_excel(r'C:\Users\shaoyumei\Desktop\输出结果.xlsx')